<section [ngClass]="storeIndexTheme">
  <div class="todoDiv" *ngIf="!editModeOpened">
    <app-indexWindows [storeTodoList]="storeTodoList" 
      (changeEditMode)="changeEditMode()" (changeCompleted)="changeComplete($event)">
    </app-indexWindows>
  </div>
  <div class="todoDiv" *ngIf="editModeOpened">
    <app-editWindows [storeTodoList]="storeTodoList" [dragOpened]="dragOpened" [changeTitle]="changeTitle" 
      (openColorModal)="openColorModal()" (changeEditMode)="changeEditMode()" (openDrop)="drop($event)" 
      (openAddModal)="openAddModal()" (checkJudgeDragOpened)="judgeDragOpen()" (checkJudgeDragClosed)="judgeDragClose()" 
      (checkOpendOrClosedEdit)="openOrCloseEdit($event)" (deleteTodoItem)="deleteTodoItem($event)" 
      (editTodoTitleComplete)="editTodoTitleComplete()" (closeEdit)="closeEdit($event)">
    </app-editWindows>
  </div>
</section>

<app-addModal *ngIf="addModalOpened" [storeTodoList]="storeTodoList" [storeIndexTheme]="storeIndexTheme" 
(openModal)="openAddModal()" (closeModal)="addTodoItem($event)">
</app-addModal>
<app-colorModal *ngIf="colorModalOpened" (openModal)="openColorModal()" (changeThemeColor)="changeColor($event)">
</app-colorModal>
