// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material'as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$todoList-primary: mat.define-palette(mat.$indigo-palette);
$todoList-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$todoList-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$todoList-theme: mat.define-light-theme((color: (primary: $todoList-primary,
            accent: $todoList-accent,
            warn: $todoList-warn,
        )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($todoList-theme);

/* You can add global styles to this file, and also import other style files */
$red: rgb(255, 172, 172);
$hover-red: rgb(255, 162, 162);
$dark-red: rgb(255, 137, 137);

$orange: rgb(255, 204, 137);
$hover-orange: rgb(255, 198, 124);
$dark-orange: rgb(250, 186, 91);

$yellow: rgb(255, 253, 152);
$hover-yellow: rgb(255, 253, 129);
$dark-yellow: rgb(255, 252, 73);

$green: rgb(201, 233, 157);
$hover-green: rgb(195, 233, 143);
$dark-green: rgb(160, 228, 127);

$blue: rgb(180, 245, 247);
$hover-blue: rgb(167, 240, 243);
$dark-blue: rgb(136, 228, 235);

$indigo: rgb(172, 198, 255);
$hover-indigo: rgb(160, 189, 252);
$dark-indigo: rgb(138, 179, 255);

$purple: rgb(213, 190, 252);
$hover-purple: rgb(208, 181, 255);
$dark-purple: rgb(195, 166, 253);

$pink: rgb(252, 194, 255);
$hover-pink: rgb(250, 184, 253);
$dark-pink: rgb(251, 172, 255);

$gray: rgb(218, 218, 218);
$hover-gray: rgb(214, 214, 214);
$dark-gray: rgb(201, 201, 201);

$black: rgb(94, 94, 94);
$hover-black: rgb(83, 83, 83);
$dark-black: rgb(0, 0, 0);

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

input[type="checkbox"] {
    display: none;
}

input[type="text"] {

    &:focus {
        outline: none;
    }

    &:disabled {
        color: #000;
    }
}

.cdk-drag-preview {
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todoInlineDiv .cdk-drop-list-dragging .todoItem:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todoTitle {
    background-color: $dark-yellow;
    width: 60%;
    height: 80px;
    font-size: 24px;
    line-height: 80px;
    display: flex;
    position: relative;

    .todoSpan {
        position: absolute;
        top: 0;
        right: 5%;
        display: flex;

        span {
            margin-left: 30px;
        }
    }
}

.todoInlineTitle {
    display: flex;

    .fas {
        cursor: pointer;
    }
}

.todoInlineDiv {
    width: 60%;
    height: calc(100vh - 80px);
    background-color: $yellow;
    overflow: overlay;

    .indexUl {
        .todoItem {
            transition: all 0.3s;

            &:hover {
                background-color: $hover-yellow;
            }

            .complete {

                p,
                input {
                    color: gray;
                    text-decoration: line-through;
                }
            }

            .todoInlineItem {
                font-size: 20px;
                height: 60px;
                line-height: 60px;
                position: relative;
                cursor: pointer;

                p {
                    position: absolute;
                    top: 0;
                    left: 5%;
                }

                span {
                    position: absolute;
                    top: 0;
                    right: 5%;
                }

                .fas {
                    cursor: pointer;
                }

                .fa-check {
                    margin-right: 25%;
                }
            }
        }
    }

    .editUl {

        .todoItem {
            transition: all 0.3s;

            &:hover {
                background-color: $hover-yellow;
            }

            .complete {

                p,
                input {
                    color: gray;
                    text-decoration: line-through;
                }
            }

            .todoInlineItem {
                font-size: 20px;
                height: 60px;
                line-height: 60px;
                position: relative;
                cursor: pointer;

                input {
                    position: absolute;
                    top: 14px;
                    left: 5%;
                    height: 30px;
                    line-height: 30px;
                    border: none;
                    font-size: 20px;
                }

                .addItemP {
                    left: 5%;
                }

                p {
                    position: absolute;
                    top: 0;
                    left: 10%;
                }

                span {
                    position: absolute;
                    top: 0;
                    right: 5%;
                }

                .editSpan {
                    width: 50px;
                }

                .fas {
                    cursor: pointer;
                }

                .fa-check {
                    margin-right: 25%;
                }

                .fa-plus-circle {
                    margin-right: 20px;
                }

                .fa-sort {
                    position: absolute;
                    top: 20px;
                    left: 5%;
                }
            }
        }
    }
}

.addModal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

    .addModalDiv {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 50%;
        height: 350px;

        span {
            text-align: end;
            width: 90%;

            .fa-times {
                margin-top: 2%;
                font-size: 32px;
                cursor: pointer;
            }
        }

        p {
            font-size: 32px;
            font-weight: bolder;
            margin-top: 2%;
        }

        input[type="text"] {
            margin-top: 5%;
            height: 15%;
            width: 80%;
            font-size: 18px;
            border: 1px solid $dark-black;
            border-radius: 5px;
        }

        .buttonDiv {
            text-align: end;
            width: 80%;

            .addBtn {
                margin-top: 8%;
                width: 40%;
                height: 60%;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                background-color: $yellow;
                transition: all 0.3s;
            }
        }
    }
}

.colorModal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

    .colorModalDiv {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 50%;
        height: 400px;

        span {
            text-align: end;
            width: 90%;

            .fa-times {
                margin-top: 2%;
                font-size: 32px;
                cursor: pointer;
            }
        }

        p {
            font-size: 32px;
            font-weight: bolder;
            margin-top: 2%;
            margin-bottom: 1%;
        }

        .buttonDiv {
            width: 80%;

            input[type="button"] {
                width: 48%;
                height: 25px;
                margin: 2% 1%;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .red {
                background-color: $red;
                transition: all 0.3s;

                &:hover {
                    background-color: $dark-red;
                }
            }

            .orange {
                background-color: $orange;
                transition: all 0.3s;

                &:hover {
                    background-color: $dark-orange;
                }
            }

            .yellow {
                background-color: $yellow;
                transition: all 0.3s;

                &:hover {
                    background-color: $dark-yellow;
                }
            }

            .green {
                background-color: $green;
                transition: all 0.3s;

                &:hover {
                    background-color: $dark-green;
                }
            }

            .blue {
                background-color: $blue;
                transition: all 0.3s;

                &:hover {
                    background-color: $dark-blue;
                }
            }

            .indigo {
                background-color: $indigo;
                transition: all 0.3s;

                &:hover {
                    background-color: $dark-indigo;
                }
            }

            .purple {
                background-color: $purple;
                transition: all 0.3s;

                &:hover {
                    background-color: $dark-purple;
                }
            }

            .pink {
                background-color: $pink;
                transition: all 0.3s;

                &:hover {
                    background-color: $dark-pink;
                }
            }

            .gray {
                background-color: $gray;
                transition: all 0.3s;

                &:hover {
                    background-color: $dark-gray;
                }
            }

            .black {
                background-color: $black;
                transition: all 0.3s;

                &:hover {
                    background-color: $dark-black;
                }
            }
        }
    }
}

// 紅
.indexRedTheme {

    .todoTitle {
        background-color: $dark-red;
    }

    .todoInlineDiv {
        background-color: $red;

        .indexUl,
        .editUl {

            .todoItem {

                &:hover {
                    background-color: $hover-red;
                }
            }
        }
    }

    .addModal {

        .addModalDiv {

            .addBtn {
                background-color: $red;

                &:hover {
                    background-color: $hover-red;
                }
            }
        }
    }
}

// 橙
.indexOrangeTheme {

    .todoTitle {
        background-color: $dark-orange;
    }

    .todoInlineDiv {
        background-color: $orange;

        .indexUl,
        .editUl {

            .todoItem {

                &:hover {
                    background-color: $hover-orange;
                }
            }
        }
    }

    .addModal {

        .addModalDiv {

            .addBtn {
                background-color: $orange;

                &:hover {
                    background-color: $hover-orange;
                }
            }
        }
    }
}

// 黃
.indexYellowTheme {

    .todoTitle {
        background-color: $dark-yellow;
    }

    .todoInlineDiv {
        background-color: $yellow;

        .indexUl,
        .editUl {

            .todoItem {

                &:hover {
                    background-color: $hover-yellow;
                }
            }
        }
    }

    .addModal {

        .addModalDiv {

            .addBtn {
                background-color: $yellow;

                &:hover {
                    background-color: $hover-yellow;
                }
            }
        }
    }
}

// 綠
.indexGreenTheme {

    .todoTitle {
        background-color: $dark-green;
    }

    .todoInlineDiv {
        background-color: $green;

        .indexUl,
        .editUl {

            .todoItem {

                &:hover {
                    background-color: $hover-green;
                }
            }
        }
    }

    .addModal {

        .addModalDiv {

            .addBtn {
                background-color: $green;

                &:hover {
                    background-color: $hover-green;
                }
            }
        }
    }
}

// 藍
.indexBlueTheme {

    .todoTitle {
        background-color: $dark-blue;
    }

    .todoInlineDiv {
        background-color: $blue;

        .indexUl,
        .editUl {

            .todoItem {

                &:hover {
                    background-color: $hover-blue;
                }
            }
        }
    }

    .addModal {

        .addModalDiv {

            .addBtn {
                background-color: $blue;

                &:hover {
                    background-color: $hover-blue;
                }
            }
        }
    }
}

// 靛
.indexIndigoTheme {

    .todoTitle {
        background-color: $dark-indigo;
    }

    .todoInlineDiv {
        background-color: $indigo;

        .indexUl,
        .editUl {

            .todoItem {

                &:hover {
                    background-color: $hover-indigo;
                }
            }
        }
    }

    .addModal {

        .addModalDiv {

            .addBtn {
                background-color: $indigo;

                &:hover {
                    background-color: $hover-indigo;
                }
            }
        }
    }
}

// 紫
.indexPurpleTheme {

    .todoTitle {
        background-color: $dark-purple;
    }

    .todoInlineDiv {
        background-color: $purple;

        .indexUl,
        .editUl {

            .todoItem {

                &:hover {
                    background-color: $hover-purple;
                }
            }
        }
    }

    .addModal {

        .addModalDiv {

            .addBtn {
                background-color: $purple;

                &:hover {
                    background-color: $hover-purple;
                }
            }
        }
    }
}

// 粉
.indexPinkTheme {

    .todoTitle {
        background-color: $dark-pink;
    }

    .todoInlineDiv {
        background-color: $pink;

        .indexUl,
        .editUl {

            .todoItem {

                &:hover {
                    background-color: $hover-pink;
                }
            }
        }
    }

    .addModal {

        .addModalDiv {

            .addBtn {
                background-color: $pink;

                &:hover {
                    background-color: $hover-pink;
                }
            }
        }
    }
}

// 灰
.indexGrayTheme {

    .todoTitle {
        background-color: $dark-gray;
    }

    .todoInlineDiv {
        background-color: $gray;

        .indexUl,
        .editUl {

            .todoItem {

                &:hover {
                    background-color: $hover-gray;
                }
            }
        }
    }

    .addModal {

        .addModalDiv {

            .addBtn {
                background-color: $gray;

                &:hover {
                    background-color: $hover-gray;
                }
            }
        }
    }
}

// 黑
.indexBlackTheme {

    .todoTitle {
        background-color: $dark-black;
        color: #fff;
    }

    .todoInlineDiv {
        background-color: $black;
        color: #fff;

        .indexUl,
        .editUl {

            .todoItem {

                &:hover {
                    background-color: $hover-black;
                }
            }
        }
    }

    .addModal {

        .addModalDiv {

            .addBtn {
                background-color: $black;
                color: #fff;

                &:hover {
                    background-color: $hover-black;
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {}

@media screen and (min-width:920px) {}

@media screen and (min-width:768px) {}

@media screen and (max-width:576px) {

    .todoTitle {
        width: 100%;
    }

    .todoInlineDiv {
        width: 100%;
    }

    .addModal {

        .addModalDiv {
            margin-top: 20%;
            width: 80%;
            height: 280px;

            .buttonDiv {
                width: 80%;

                .addBtn {
                    width: 100%;
                    height: 40px;
                }
            }
        }
    }

    .colorModal {

        .colorModalDiv {
            margin-top: 20%;
            width: 80%;
            height: 420px;

            .buttonDiv {
                width: 80%;

                input[type="button"] {
                    width: 48%;
                    height: 40px;
                    margin: 2% 1%;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {

    .todoTitle {

        .todoSpan {

            span {
                margin-left: 0px;
            }
        }
    }

    .todoInlineTitle {

        .fa-palette {
            position: fixed;
            top: 30px;
            left: 20px;
        }
    }
}